@media (min-width: 768px) {
    .layout {
        width: 750px;
    }

    .home-head-box, .home-head {
        height: 300px;
    }

    .first-style-article-list {
        width: 650px;
    }

    .first-style-item {
        width: 300px;
    }

    .article, .page {
        padding: 20px 50px;
    }

    .img-list img {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .layout {
        width: 950px;
    }

    .first-style-article-list {
        width: 850px;
    }

    .first-style-item {
        width: 400px;
    }

    .article, .page {
        width: 900px;
    }

    .img-list img {
        width: 233px;
    }
}

@media (min-width: 1200px) {
    .layout {
        width: 1100px;
    }

    .article-directory {
        display: block;
    }

    .first-style-article-list {
        width: 1000px;
    }

    .first-style-item {
        width: 300px;
    }
}

@media (min-width: 1800px) {
    .layout {
        width: 1400px;
    }

    .first-style-article-list {
        width: 1300px;
    }

    .first-style-item {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .layout {
        width: 90%;
    }

    #main > .layout {
        transform: translateY(-40px);
    }

    .back-to-home, .menu-btn {
        font-size: 16px;
    }

    .sidebar {
        left: 0;
        width: 100%;
        transform: translateX(-100%);
    }

    .sidebar-display {
        transform: translateX(0);
    }

    .sidebar-content {
        padding: 30px 10px 0;
    }

    .main-position {
        transform: translateX(100%);
    }

    .home-head-box, .home-head {
        height: 100px;
    }

    .content {
        padding: 50px 20px 0;
    }

    .first-style-item {
        width: 100%;
    }

    .post-near-next, .post-near-prev, #touch-to-top {
        font-size: 18px;
    }

    .article-head-img, .page-head-img {
        height: 200px;
    }

    .article-title, .page-title {
        font-size: 24px;
    }

    .article, .page {
        padding: 20px;
    }

    .img-list img {
        width: 40%;
    }

    .comment-form-meta input {
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 1px dashed #bdbdbd;
    }

    .links-box > li {
        width: 50% !important;
    }
}