.OwO-logo {
    float: left !important;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    cursor: url(../../mouse/link.cur), pointer;
    transition: all .3s;
}

.OwO-logo:hover {
    color: #ffeb3b;
}

.OwO-items {
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
}

.OwO-item {
    padding: 5px 10px;
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: url(../../mouse/link.cur), pointer;
}

.OwO-item img {
    height: 30px;
}

.OwO-item:hover {
    transform: scale(1.5);
}

.bq {
    height: 30px !important;
}

.OwO-items::-webkit-scrollbar {
    width: 5px;
}

.OwO-items::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.OwO-items::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fff;
}