* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: .1em;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	cursor: url(../../mouse/normal.cur), default;
	-webkit-font-smoothing: antialiased;  /*chrome、safari*/
	-moz-osx-font-smoothing: grayscale;  /*firefox*/
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #eff3f8;
}
img {
	vertical-align: top;
	border: none;
}
i {
	font-style: normal;
}
ul,ol,li {
	list-style: none;
}
input,textarea,button,a {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	text-decoration: none;
	color: #313131;
	cursor: url(../../mouse/link.cur), pointer;
}
@font-face {
	font-family: 'icomoon';
	src: url('../../fonts/icomoon.eot');  /* IE9 */
	src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
		 url('../../fonts/icomoon.woff') format('woff'),  /* chrome、firefox */
		 url('../../fonts/icomoon.ttf') format('truetype'),  /* chrome、firefox、opera、Safari、Android、IOS */
		 url('../../fonts/icomoon.svg#webfont') format('svg');  /* ios 4.1 */
}
.layout {
	margin: 0 auto;
}
.back-to-home {
	bottom: 135px;
	background-color: #fa0237;
	box-shadow: 0px 0px 20px #fa0237;
}
.back-to-home a {
	display: block;
	height: 40px;
	width: 40px;
	color: #fff;
}
.menu-btn {
	bottom: 80px;
	background-color: #29d;
	box-shadow: 0px 0px 20px #29d;
}
.back-to-home,.menu-btn {
	font-family: icomoon;
	font-size: 20px;
	position: fixed;
	right: 20px;
	z-index: 999;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	transition: transform .2s linear;
	cursor: url(../../mouse/link.cur), pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.back-to-home:hover,.menu-btn:hover {
	transform: scale(.9);
}
body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
	width: 5px;
}
body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
	border-radius: 50%;
	background-color: #ff9800;
}
.sidebar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #cacaca;
}
.sidebar {
	z-index: 990;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: #1f1f1f;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	transition: all .4s ease;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.sidebar-display {
	transform: translateX(300px);
}
.sidebar-time {
	display: none;
}
.sidebar-content {
	width: 100%;
	padding: 80px 20px 0;
}
.search-for {
	height: 35px;
}
#search {
	height: 100%;
	width: 100%;
	position: relative;
}
.search-text {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 35px;
	padding-left: 15px;
	background-color: #f2f2f2;
}
.search-btn {
	position: absolute;
	right: 5px;
	top: 0;
	font-family: icomoon;
	font-size: 20px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: url(../../mouse/link.cur), pointer;
}
.menubar {
	margin-top: 100px;
}
.sidebar-content>.menubar>ul {
	position: relative;
}
.sidebar-content>.menubar>ul:before {
	content: '';
	position: absolute;
	top: 0;
	left: 20%;
	height: 100%;
	width: 2px;
	border-radius: 50%;
	background-color: #abe0ff;
}
.sidebar-content>.menubar>ul>li {
	margin-left: 25%;
}
.sidebar-content>.menubar>ul>li>a {
	display: block;
	color: #fff;
	font-size: 12px;
	padding: 5px 15px;
	margin: 0 5px 10px;
	transition: all .3s;
}
.sidebar-content>.menubar>ul>li>a:hover {
	color: #ffb710;
	transform: scale(1.05);
}
#main {
	transition: all .4s ease;
}
.main-position {
	transform: translateX(300px);
}
.home-head-box {
	width: 100%;
	overflow: hidden;
}
.home-head {
	width: 120%;
	border-radius: 0 0 30% 30%;
	transform: translateX(-10%);
	z-index: -88;
}
#main>.layout {
	transform: translateY(-80px);
	background-color: #fff;
	border-radius: 10px;
}
.content {
	padding-top: 80px;
	overflow: hidden;
}
.first-style-article-list {
	position: relative;
	margin: 0 auto;
	min-height: calc(100vh);
}
.first-style-item {
	float: left;
	visibility: hidden;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	transition: box-shadow .5s ease;
}
.first-style-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.first-style-item:hover .first-style-card div:before {
	background-color: rgba(0, 0, 0, .5);
}
.first-style-item:hover .first-style-card div {
	transform: scale(1.1);
	filter: blur(3px);
}
.first-style-item:hover p {
	animation: fade-in .5s;
	opacity: 1;
}
@keyframes fade-in
{
	from {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0);
	}
}
.first-style-card div {
	height: 100%;
	width: 100%;
	transition: transform .5s ease,filter .5s ease;
}
.first-style-card div:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	transition: all .5s ease;
}
.first-style-item>p {
	position: absolute;
	top: 30px;
	left: 0;
	color: #fff;
	font-size: 12px;
	padding: 20px;
	opacity: 0;
}
.first-style-content {
	padding: 10px 0;
}
.first-style-content h5 {
	color: #8590a6;
	padding: 5px 20px;
	border-left: 4px solid #29d;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.article-page,.comment-page {
	text-align: center;
	margin: 50px auto;
}
.page-navigator {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 5px 0;
}
.page-navigator::-webkit-scrollbar {
	width: 0;
}
.page-navigator::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0);
}
.page-navigator::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0);
}
.page-navigator li {
	display: inline-block;
	font-size: 12px;
	position: relative;
}
.page-navigator li a,.page-navigator li span {
	font-family: icomoon;
	color: #8590a6;
	padding: 5px 20px;
	transition: all .3s linear;
}
.page-navigator li a:hover {
	color: #37bdf3;
}
.page-navigator .current:before {
	content: "";
	position: absolute;
	bottom: -5PX;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #29d;
}
.post-near-next,.post-near-prev,#touch-to-top {
	position: fixed;
	right: 20px;
	font-family: icomoon;
	font-size: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #000;
	box-shadow: 0px 0px 20px #000;
	border-radius: 50%;
	transition: transform .2s linear;
	cursor: url(../../mouse/link.cur), pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.post-near-next {
	bottom: 255px;
}
.post-near-prev {
	bottom: 200px;
}
#touch-to-top {
	display: none;
	bottom: 25px;
}
.post-near-next:hover,.post-near-prev:hover,#touch-to-top:hover {
	transform: scale(.9);
}
.theme-copyright {
	text-align: center;
	font-size: 12px;
	color: #8590a6;
	margin-bottom: 10px;
}
.theme-copyright a {
	color: #8590a6;
}
.qr-code {
	position: fixed;
	top: -400px;
	left: 50%;
	transform: translateX(-50%);
	height: 380px;
	width: 250px;
	opacity: 0;
	box-shadow: 0 0 100px #a9a9a9;
	border-radius: 10px;
	background-color: #fff;
	transition: all 1s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.qr-code-display {
	transform: translate(-50%, 540px);
	opacity: 1;
}
.closinglayer {
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: icomoon;
	font-size: 20px;
	font-weight: 700;
	transition: all .5s;
	cursor: url(../../mouse/link.cur), pointer;
}
.closinglayer:hover {
	transform: rotate(360deg);
}
.qr_code_zfb,.qr_code_wx {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	opacity: 0;
	border-radius: 10px;
	transition: all .5s;
}
.qr_code_zfb {
	opacity: 1;
}
.switch-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}
.zfb-btn,.wx-btn {
	display: inline-block;
	width: 30%;
	padding: 5px 0;
	border-radius: 15px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	box-shadow: 0 0 20px #797979;
	transition: all .5s;
	cursor: url(../../mouse/link.cur), pointer;
}
.zfb-btn {
	margin-right: 5px;
	background-color: #029fe6;
}
.wx-btn {
	margin-left: 5px;
	background-color: #25ab3a;
}
.zfb-btn:hover,.wx-btn:hover {
	transform: translateY(-2px);
}
@keyframes CommentFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.CommentFadeIn {
	animation-name: CommentFadeIn;
	animation-duration: 3s;
}